.bloglist {
  margin-left: 0;
  list-style-type: none;
  p{
    display: block;
    margin: 0;
  }
  .meta {
    font-size: .9rem;
  }
  .link-text {
    font-size: 1.2rem;
  }
  a {
    color: #096acc;
    &:hover {
      color: #06498b;
      text-decoration: none;
    }
  }
  li {
    padding: 12px 0;
  }
  li + li {
    border-top: 1px solid rgba(0,0,0,0.1);
  }
}
